include ../../components/select/select
-
    var optionsMark = [
        'Марка',
        'Toyota',
        'Лада',
        'Mazda'
    ];

-
    var optionsModel = [
        'Модель',
        'Camry',
        'Vesta',
        '323'
    ];

-
    var optionsGeneration = [
        'Поколение',
        '2018',
        '2016',
        'III (BF), 1985 — 1989'
    ];


.modal.modal__ask-question.js-modal(data-modal-type='ask-question')
    .modal__inner
        .close.modal__close.js-modal-close
        .modal__title Задать вопрос
        .modal__text Не нашлось нужной публикации? Специалисты готовы поделиться своими знаниями. Спрашивай!
        form(action=`${jsonServer}/ask-question`, method='post').validator.js-ajax-ask-question
            .modal__block
                .modal__text Ваш автомобиль
                .modal__form-ask-question
                    label
                        +select(optionsMark, 'mark', ['js-modal-select', 'js-ajax-select-car'], {"validator-require": "true", action: `${jsonServer}/marks`})
                    label
                        +select(optionsModel, 'model', ['js-modal-select', 'js-ajax-select-car'], {"validator-require": "true", action: `${jsonServer}/models`})
                    label
                        +select(optionsGeneration, 'generation', ['js-modal-select', 'js-ajax-select-car'], {"validator-require": "true", action: `${jsonServer}/generation`})

            .modal__block
                .modal__text Ваш вопрос
                label
                    input(name='question', type='text', placeholder='Заголовок вопроса', data-validator-require="true")
                label
                    textarea(name="textarea", placeholder="Текст вопроса", data-validator-require="true")
            .modal__hulf
                button(type='submit').button.button-yellow.button__send Отправить
                .modal__policy
                    | Нажимая на кнопку, Вы соглашаетесь на обработку
                    a(href='#')=' персональных данных'