section.marks-and-models__section
    .alphabet
        .alphabet-list
            a.active(href="#")='A'
            a(href="#")='B'
            a(href="#")='C'
            a(href="#")='D'
            a(href="#")='E'
            a(href="#")='F'
            a(href="#")='G'
            a(href="#")='H'
            a(href="#")='I'
            a(href="#")='J'
            a(href="#")='K'
            a(href="#")='L'
            a(href="#")='M'
            a(href="#")='N'
            a(href="#")='O'
            a(href="#")='P'
            a(href="#")='Q'
            a(href="#")='R'
            a(href="#")='S'
            a(href="#")='T'
            a(href="#")='U'
            a(href="#")='V'
            a(href="#")='W'
            a(href="#")='X'
            a(href="#")='Y'
            a(href="#")='Z'
        a(href="#").alphabet-edit А-Я
    .marks-and-models.js-marks-and-models
        .letter A
        .marks
            ul.marks__list.js-marks
                li.marks__item.active(data-mark='acura')
                    a(href="javascript:void(0)") Acura
                li.marks__item(data-mark='alfa-romeo')
                    a(href="javascript:void(0)") Alfa Romeo
                li.marks__item(data-mark='alpina')
                    a(href="javascript:void(0)") Alpina
                li.marks__item(data-mark='aston-martin')
                    a(href="javascript:void(0)") Aston Martin
                li.marks__item(data-mark='audi')
                    a(href="javascript:void(0)") Audi

        .models.js-models
            .models__item(data-model='acura')
                .models__head
                    .models__logo
                        img(src="img/acura-logo.png", alt="")
                    .models__title Список моделей
                .models__container
                    .models__list
                        a(href="#") Cl
                        a(href="#") Csx
                        a(href="#") El
                        a(href="#") Ilx
                        a(href="#") Integra
                        a(href="#") Legend
                        a(href="#") Mdx
                        a(href="#") Nsx
                        a(href="#") Rdx
                    .models__list
                        a(href="#") RL
                        a(href="#") Rlx
                        a(href="#") Rsx
                        a(href="#") slx
                        a(href="#") tl
                        a(href="#") tlx
                        a(href="#") tsx
                        a(href="#") vigor
                        a(href="#") zdx
                    .models__list
                        a(href="#") Rsx
                        a(href="#") slx
                        a(href="#") tl
                        a(href="#") tlx
                        a(href="#") tsx
                        a(href="#") vigor
                        a(href="#") zdx
            .models__item(data-model='alfa-romeo')
                .models__head
                    .models__logo
                        img(src="img/acura-logo.png", alt="")
                    .models__title Список моделей
                .models__container
                    .models__list
                        a(href="#") alfa-romeo
                        a(href="#") alfa-romeo
                        a(href="#") alfa-romeo
                        a(href="#") alfa-romeo
                        a(href="#") alfa-romeo
                        a(href="#") Legend
                        a(href="#") Mdx
                        a(href="#") Nsx
                        a(href="#") Rdx
                    .models__list
                        a(href="#") RL
                        a(href="#") Rlx
                        a(href="#") alfa-romeo
                        a(href="#") slx
                        a(href="#") tl
                        a(href="#") tlx
                        a(href="#") tsx
                        a(href="#") vigor
                        a(href="#") zdx
                    .models__list
                        a(href="#") Rsx
                        a(href="#") alfa-romeo
                        a(href="#") tl
                        a(href="#") tlx
                        a(href="#") tsx
                        a(href="#") vigor
                        a(href="#") zdx
